<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <title>Medical Staff</title>
        <link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css"/>


    </head>
    <body>
        <div>
            <h1>Medical Staff</h1>
            
            <hr>
                <h2>Save Medical Staff</h2>

                <form action="#" th:action="@{/saveMedStaff}" th:object ="${medStaff}" method="POST">
                    <input type="text" th:field="*{firstName}" placeholder="Medical Staff First Name"
                           ></input>

                        <input type="text" th:field="*{lastName}" placeholder="Medical Staff Last Name"></input>

                            <input type="text" th:field="*{email}" placeholder="Medical Staff email"></input>
                            
                            <input type="text" th:field="*{phone}" placeholder="Medical Staff Phone Number"></input>

                            <input type="text" th:field="*{address}" placeholder="Medical Staff Address"></input>

                            <input type="text" th:field="*{emergencyContact}" placeholder="Medical Staff Emergency Contact"></input>

                            <input type="text" th:field="*{emergencyContactNum}" placeholder="Medical Staff Emergency Contact Number"></input>
                            
                             <input type="text" th:field="*{gender}" placeholder="Medical Staff email"></input>

                                <button type="submit"> Save Medical Staff</button>
                                </form>

                                </div>
                                </body>
                                </html>
