<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <title>Medical Staff</title>
        <link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css"/>
    </head>
    <body>
        <div>
            <h1>Medical Staff</h1>
            
            <hr>
                <h2>Update Medical Staff</h2>

                <form action="#" th:action="@{/saveMedStaff}" th:object ="${medStaff}" method="POST">
                    
                    <!-- Hidden handle update-->
                    <input type="hidden" th:field="*{id}"/>
                    
                    <input type="text" th:field="*{firstName}"></input>

                        <input type="text" th:field="*{lastName}" > </input>

                            <input type="text" th:field="*{email}" ></input>

                                <button type="submit"> Update Medical Staff</button>
                                </form>

                                </div>
    </body>
</html>
